* {
    font-family:'Times New Roman', Times, serif
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 130px;
    height: 130px;
    text-align: center;
    vertical-align: middle;
    border: 3px solid black;
} 

.x {
      color: blue;
      font-size: 100px;
    }
    
    .o {
      color: red;
      font-size: 100px;
    } 

    .win {
            background-color: yellow;
        } 

    .container {
            display: flex;
            flex-direction: column;
            }
            
            #reset {
            margin: 48px 40%;
            padding: 20px;
            } 